@{
    ViewData["Title"] = "Lỗi";
}

@section Content
{
<div style="margin-top: 100px; margin-bottom: 100px">
    <img src="~/images/notfound.png" width="30%" height="30%" class="rounded mx-auto d-block" />
    <div class="row" style="margin-top: 20px">
        <div class="col text-center">
            <button class="btn btn-outline-primary"><a href="/">Trở về trang chủ</a></button>
        </div>
    </div>
</div>
}
