
@{
    ViewData["Title"] = "Thông báo";
}
@section Content{
    <div class="card" style="margin-top: 150px; margin-bottom: 150px">
        <h5 class="card-header">Tạo tài khoản</h5>
        <div class="card-body">
            <h5 class="card-title">Đăng ký thành công!</h5>
            <p class="card-text">Bạn đã đăng kí thành công tài khoản: @ViewBag.Email</p>
            <p class="card-text">Chào mừng bạn đến với trang bán các loại Gear Gaming - GearShop</p>
            <a href="/dang-nhap" class="btn btn-primary">Đăng nhập</a>
        </div>
    </div>
}
