@using Application.Services
@model List<Application.DTO.LinhKienDTO>
@section Content{ 
    <div>

        <!-- Header banner -->
        <div id="header" class="carousel slide header" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#header" data-slide-to="0" class="active"></li>
                <li data-target="#header" data-slide-to="1"></li>
                <li data-target="#header" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/banner.png" alt="Los Angeles" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>We had such a great time in LA!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner.png" alt="Chicago" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner.png" alt="New York" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#header" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <!-- Products -->
        <div class="product-category" id="product-category">
            <div class="product-category-title">
                <h1>Bàn phím chơi game - Gaming Keyboards</h1>
                <div class="row product-category-title-sort">
                    <div class="col-sm-12 wrap-sort-by">
                        <div class="product-category-title-sort-style">
                            <label for="products">Sắp xếp theo:</label>
                            <select id="cars">
                                <option value="volvo">Độ phổ biến</option>
                                <option value="saab">Giá: Tăng dần </option>
                                <option value="opel">Giá Giảm dần</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-category-content row">
                @foreach (LinhKienDTO item in Model)
                {
                    var sale = (decimal)item.DonGias.FirstOrDefault().GiamGia;
                    var price = item.DonGias.FirstOrDefault().DonGiaBan;
                <div class="product-category-content-products col-md-3">
                    <div class="border">
                        <div class="product-category-content-products-img">
                            <a href="~/product/detail/@item.Id">
                                <img src="~/images/products/@item.Hinh.Split(",")[0]" alt="img">
                            </a>
                            <div class="products-hover">
                                <p class="products-hover-see-more">
                                    <a href="~/product/detail/@item.Id">Nhấn để xem chi tiết</a>
                                </p>
                                <div class="products-hover-btn">
                                    <p><a href="#">Thêm vào giỏ hàng</a></p>
                                </div>
                            </div>

                            @if (item.DaBan >= 100)
                            {
                                <div class="products-tags">
                                    <p>HOT</p>
                                </div>
                            }
                            else if (DateTime.Compare(item.NgayCapNhat, DateTime.Now.AddDays(-10)) >= 0)
                            {
                                <div class="products-tags">
                                    <p>NEW</p>
                                </div>
                            }

                        </div>
                                <div class="product-category-content-products-name">
                                    <h2>@item.TenLK</h2>
                                </div>
                                <div class="product-category-content-products-price">
                                    <p>@Format.Money(price)</p>
                                </div>
                                <div class="product-category-content-products-price-sale">
                                    <p>@Format.Money(price - price * sale / 100)</p>
                                </div>
                            </div>
                </div>
                }
            </div>
        </div>
    </div>
}