@using Application.Services

@section Content{ 
    
<script type="text/javascript" src="~/js/Home/Category.js"></script>
<script>
    products = @(ViewData["list"]);
    maxPage = Math.ceil(products.length / recordsPerPage);
</script>
    <div>

        <!-- Header banner -->
        <div id="header" class="carousel slide header" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#header" data-slide-to="0" class="active"></li>
                <li data-target="#header" data-slide-to="1"></li>
                <li data-target="#header" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/banner.png" alt="Los Angeles" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>We had such a great time in LA!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner.png" alt="Chicago" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/banner.png" alt="New York" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#header" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <!-- Products -->
        <div class="product-category" id="product-category">
            <div class="product-category-title">
                <h1>Danh sách @(ViewData["TenLoai"])</h1>
                <div class="row product-category-title-sort">
                    <div class="col-sm-12 wrap-sort-by">
                        <div class="product-category-title-sort-style">
                            <label for="products">Sắp xếp theo:</label>
                            <select id="OrderBy" onchange="searchProducts(currentPage)">
                                <option value="popular" selected>Độ phổ biến</option>
                                <option value="price-ascend">Giá: Tăng dần </option>
                                <option value="price-descend">Giá: Giảm dần</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-category-content row" id="category-content">
            </div>
            <div id="paginator"></div>
        </div>
    </div>
}
