@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Content{
    <div class="admin-not-found">
        <img src="~/images/401.png" width="20%" height="20%" class="admin-img-not-found" />
        <div class="admin-not-found-message text-danger" style="padding-top: 20px">Bạn không đủ quyền hạn để vào trang này</div>
    </div>
    
}
